<div class="noo-page-heading">
    <div class="container">
        <div class="noo-page-breadcrumb">
            <div class="breadcrumb-wrap">
                <span>@Html.ActionLink("Главная", "Index", "Home")</span><i>&#047;</i> <span><span>Коллектив</span></span>
            </div>
        </div>
    </div>
</div>


<div class="container-wrap">
    <div class="default-p container">
        <div class="row">
            <div class="noo-main col-md-12">
                <div class="row row-fluid">
                    <div class="nocontainer">
                        <div class="col-sm-12">
                            <div class="noo_team">
                                <h2 class="noo-team-title">РУКОВОДСТВО </h2>
                                @*<p class="noo-team-ds">
                                    Quick way to popularize your events and make it more professional towards thousands of audiences. With responsive layout and advanced function, all information is processed smoothly and designed to enhance event&#039;s ticket shopping experiences.
                                </p>*@

                                <div class="row noo-team-contents">
                                    <div class="col-md-4 col-sm-6 col-md-offset-2">
                                        <div class="noo_team_item">
                                            <div class="team_thumbnail">
                                                <img width="770" height="770" src="~/img/Orchestra/ArtDirector/Kogan.jpg" alt="team1">
                                                <div class="team-info">
                                                    <h4 class="team_name">Дмитрий Коган</h4>
                                                    <span class="team_position">художественный руководитель</span>
                                                </div>
                                            </div>
                                            <div class="team-detail">
                                                <div class="team-detail-position">
                                                    <div class="team_socials">
                                                        @*<span class="team_social">
                                                            <span class="social-name">Перейти на facebook</span>
                                                            <a href="https://www.facebook.com/sasha.fedotova" class="fa fa-facebook"></a>
                                                        </span>*@
                                                        <span class="team_social">
                                                            <span class="social-name">Перейти в instagram</span>
                                                            <a href="https://www.instagram.com/dmitri_kogan" class="fa fa-instagram"></a>
                                                        </span>
                                                        <span class="team_social">
                                                            <span class="social-name">Перейти на www.dmitrikogan.ru</span>
                                                            <a href="http://dmitrikogan.ru" class="fa fa-globe"></a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-md-offset-0">
                                        <div class="noo_team_item">
                                            <div class="team_thumbnail">
                                                <img width="770" height="770" src="~/img/Orchestra/Kapellmeister/NikolayPetrovich.jpg" alt="team2">
                                                <div class="team-info">
                                                    <h4 class="team_name">Николай Соколов</h4>
                                                    <span class="team_position">Дирижер</span>
                                                </div>
                                            </div>
                                            @*<div class="team-detail">
                    <div class="team-detail-position">
                        <p class="ds">
                            Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                        </p>
                        <div class="team_socials">
                            <span class="team_social">
                                <span class="social-name">Follow on facebook</span>
                                <a href="#" class="fa fa-facebook"></a>
                            </span>
                            <span class="team_social">
                                <span class="social-name">Follow on twitter</span>
                                <a href="#" class="fa fa-twitter"></a>
                            </span>
                            <span class="team_social">
                                <span class="social-name">Follow on google</span>
                                <a href="#" class="fa fa-google-plus"></a>
                            </span>
                        </div>
                    </div>
                </div>*@
                                        </div>
                                    </div>
                                    </div>
                                <h2 class="noo-team-title">ПЕРВЫЕ СКРИПКИ </h2>
                                    <div class="row noo-team-contents">
                                        <div class="col-md-4 col-sm-6">
                                            <div class="noo_team_item">
                                                <div class="team_thumbnail">
                                                    <img width="770" height="770" src="~/img/Orchestra/1-e/FedotovaAvatar.jpg" alt="team3">
                                                    <div class="team-info">
                                                        <h4 class="team_name">Александра Федотова </h4>
                                                        <span class="team_position">концертмейстер оркестра, скрипка</span>
                                                    </div>
                                                </div>
                                                <div class="team-detail">
                                                    <div class="team-detail-position">
                                                        @*<p class="ds">
                                                            Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                                        </p>*@
                                                        <div class="team_socials">
                                                            <span class="team_social">
                                                                <span class="social-name">Перейти на facebook</span>
                                                                <a href="https://www.facebook.com/sasha.fedotova" class="fa fa-facebook"></a>
                                                            </span>
                                                            <span class="team_social">
                                                                <span class="social-name">Перейти в instagram</span>
                                                                <a href="https://instagram.com/fedotovasasha" class="fa fa-instagram"></a>
                                                            </span>
                                                            <span class="team_social">
                                                                <span class="social-name">www.aleksandrafedotova.ru</span>
                                                                <a href="https://aleksandrafedotova.ru" class="fa fa-globe"></a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="noo_team_item">
                                                <div class="team_thumbnail">
                                                    <img width="770" height="770" src="~/img/Orchestra/1-e/EvelinaSorokina.jpg" alt="team4">
                                                    <div class="team-info">
                                                        <h4 class="team_name">ЭВЕЛИНА СОРОКИНА</h4>
                                                        <span class="team_position">скрипка</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="noo_team_item">
                                                <div class="team_thumbnail">
                                                    <img width="770" height="770" src="~/img/Orchestra/1-e/GrigoryanAvatar.jpg" alt="team5">
                                                    <div class="team-info">
                                                        <h4 class="team_name">ЖАННА ГРИГОРЬЯН</h4>
                                                        <span class="team_position">скрипка</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="noo_team_item">
                                                <div class="team_thumbnail">
                                                    <img width="770" height="770" src="~/img/Orchestra/1-e/VladimirBugrovAvatar.jpg" alt="team6">
                                                    <div class="team-info">
                                                        <h4 class="team_name">ВЛАДИМИР БУГРОВ</h4>
                                                        <span class="team_position">скрипка</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="noo_team_item">
                                                <div class="team_thumbnail">
                                                    <img width="770" height="770" src="/img/Orchestra/1-e/SabanovaAvatar.jpg" alt="team7">
                                                    <div class="team-info">
                                                        <h4 class="team_name">ЭЛЬВИРА САБАНОВА</h4>
                                                        <span class="team_position">скрипка</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="noo_team_item">
                                                <div class="team_thumbnail">
                                                    <img width="770" height="770" src="/img/Orchestra/1-e/GoryachevaAvatar.jpg" alt="team8">
                                                    <div class="team-info">
                                                        <h4 class="team_name">ЕЛЕНА ГОРЯЧЕВА</h4>
                                                        <span class="team_position">скрипка</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <h2 class="noo-team-title">ВТОРЫЕ СКРИПКИ </h2>
                                <div class="row noo-team-contents">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="noo_team_item">
                                            <div class="team_thumbnail">
                                                <img width="770" height="770" src="~/img/Orchestra/2-e/PanjkoAvatar.jpg" alt="team3">
                                                <div class="team-info">
                                                    <h4 class="team_name">ЕЛЕНА ПАНЬКО </h4>
                                                    <span class="team_position">скрипка</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="noo_team_item">
                                            <div class="team_thumbnail">
                                                <img width="770" height="770" src="~/img/Orchestra/2-e/MinaevaAvatar.jpg" alt="team4">
                                                <div class="team-info">
                                                    <h4 class="team_name">ВАЛЕНТИНА МИНАЕВА</h4>
                                                    <span class="team_position">скрипка</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="noo_team_item">
                                            <div class="team_thumbnail">
                                                <img width="770" height="770" src="~/img/Orchestra/2-e/NasedkinaAvatar.jpg" alt="team5">
                                                <div class="team-info">
                                                    <h4 class="team_name">ОЛЬГА НАСЕДКИНА</h4>
                                                    <span class="team_position">скрипка</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="col-md-4 col-sm-6 col-md-offset-2">
                                            <div class="noo_team_item">
                                                <div class="team_thumbnail">
                                                    <img width="770" height="770" src="~/img/Orchestra/2-e/NeberikutinAvatar.jpg" alt="team6">
                                                    <div class="team-info">
                                                        <h4 class="team_name">АЛЕКСЕЙ НЕБЕРИКУТИН</h4>
                                                        <span class="team_position">скрипка</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-md-offset-0">
                                            <div class="noo_team_item">
                                                <div class="team_thumbnail">
                                                    <img width="770" height="770" src="/img/Orchestra/2-e/ShpaginaAvatar.jpg" alt="team7">
                                                    <div class="team-info">
                                                        <h4 class="team_name">ЕЛЕНА ШПАГИНА</h4>
                                                        <span class="team_position">скрипка</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>


                                <h2 class="noo-team-title">АЛЬТЫ </h2>
                                <div class="row noo-team-contents">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="noo_team_item">
                                            <div class="team_thumbnail">
                                                <img width="770" height="770" src="~/img/Orchestra/Alty/ShelehovskajaAvatar.jpg" alt="team3">
                                                <div class="team-info">
                                                    <h4 class="team_name">ЕЛЕНА ШЕЛЯХОВСКАЯ </h4>
                                                    <span class="team_position">альт</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="noo_team_item">
                                            <div class="team_thumbnail">
                                                <img width="770" height="770" src="~/img/Orchestra/Alty/PoluninAvatar.jpg" alt="team4">
                                                <div class="team-info">
                                                    <h4 class="team_name">ИГОРЬ ПОЛУНИН</h4>
                                                    <span class="team_position">альт</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="noo_team_item">
                                            <div class="team_thumbnail">
                                                <img width="770" height="770" src="~/img/Orchestra/Alty/NevslayaAvatar.jpg" alt="team5">
                                                <div class="team-info">
                                                    <h4 class="team_name">ОЛЬГА НЕВСКАЯ</h4>
                                                    <span class="team_position">альт</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-md-offset-4">
                                    <div class="noo_team_item">
                                        <div class="team_thumbnail">
                                            <img width="770" height="770" src="~/img/Orchestra/Alty/Yankovskiy.jpg" alt="team6">
                                            <div class="team-info">
                                                <h4 class="team_name">ГЕОРГИЙ ЯНКОВСКИЙ</h4>
                                                <span class="team_position">альт</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>

                                <h2 class="noo-team-title">ВИОЛОНЧЕЛИ </h2>
                                <div class="row noo-team-contents">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="noo_team_item">
                                            <div class="team_thumbnail">
                                                <img width="770" height="770" src="~/img/Orchestra/Cello/VolkovaAvatar.jpg" alt="team3">
                                                <div class="team-info">
                                                    <h4 class="team_name">НИНА ВОЛКОВА </h4>
                                                    <span class="team_position">виолончель</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="noo_team_item">
                                            <div class="team_thumbnail">
                                                <img width="770" height="770" src="~/img/Orchestra/Cello/MorchenkoAvatar.jpg" alt="team4">
                                                <div class="team-info">
                                                    <h4 class="team_name">ЛЮДМИЛА МОРЧЕНКО</h4>
                                                    <span class="team_position">виолончель</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="noo_team_item">
                                            <div class="team_thumbnail">
                                                <img width="770" height="770" src="~/img/Orchestra/Cello/NikolayPavlinov.jpg" alt="team5">
                                                <div class="team-info">
                                                    <h4 class="team_name">НИКОЛАЙ ПАВЛИНОВ</h4>
                                                    <span class="team_position">виолончель</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h2 class="noo-team-title">КОНТРАБАС </h2>
                                <div class="row noo-team-contents">
                                    <div class="col-md-4 col-sm-6 col-md-offset-4">
                                        <div class="noo_team_item">
                                            <div class="team_thumbnail">
                                                <img width="770" height="770" src="~/img/Orchestra/Basso/RumyancevAvatar.jpg" alt="team3">
                                                <div class="team-info">
                                                    <h4 class="team_name">СЕРГЕЙ РУМЯНЦЕВ </h4>
                                                    <span class="team_position">контрабас</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>