@{
    ViewBag.Title = "Афиша - \"Московская Камерата\"";
}

@section metatags
{
    <meta name="keywords" content="Московская камерата, оркестр, камерный оркестр, основатель Игорь Фролов, музыка, концертмейстер Александра Федотова, Дмитрий Коган, художественный руководитель Дмитрий Коган, Николай Соколов, Николай Соколов дирижер, Александра Федотова" />
    <meta name="description" content="Камерный оркестр "Московская камерата" - Афиша" />
    @Styles.Render("~/bundles/violincss")
}

@section head
{
    <style rel="stylesheet">
        html,
        body,
        .view {
            height: 750px;
            background-color: rgb(76, 76, 170);
        }

        viewImage {
            height: 406px;
        }

        .navbar {
            background-color: transparent;
        }

        .scrolling-navbar {
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }

        .top-nav-collapse {
            background-color: #1C2331;
        }

        footer.page-footer {
            background-color: #1C2331;
            margin-top: -1px;
        }

        .flex-center {
            color: #fff;
        }

        .view {
            background: url("../../img/AboutUS.jpg")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
}

<div class="view hm-black-strong">
    <div class="full-bg-img flex-center">
        <ul class="animated fadeInUp ulOrchestra">
            <li>
                <p class="textRoboto">Камерный оркестр</p>
            </li>
            <li>
                <h1 class="textRoboto"><span class="navbar-brand-cocacolaMax">M</span><span class="font-italic">ОСКОВСКАЯ</span><span class="navbar-brand-cocacolaMax"> K</span><span class="font-italic">АМЕРАТА</span></h1>
            </li>

            <li>
                <div id="aEvents" class="container-fluid text-xs-center" style="height: 350px;">
                    <a class="btn-floating btn-action blue darken-4 waves-effect waves-light navbar-brand-cocacolaMin" href="#events">MK<i class="fa fa-chevron-down fa-1 navbar-brand-cocacolaMinChevronDown"></i></a>
                </div>
            </li>
        </ul>

    </div>
</div>
<footer id="events" class="page-footer center-on-small-only">

    <div class="main-wrapper">
        <div class="container-fluid ">
            <section class="section extra-margins text-xs-left">
                <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                    <div class="col-md-12">



                        <div class="container">
                            <div id="photopart" class="col-lg-12">
                                <div class="row">
                                    <div id="demo-test-gallery" class="demo-gallery container-flex" data-pswp-uid="1">

                                        @Html.Partial("AfishaPart")

                                    </div>
                                </div>

                                @Html.Partial("~/Views/PhotoSwipe/PhotoSwipePart.cshtml")
                            </div>
                            <div id="loadPartPhoto" style="display: none">
                                <img src="/img/AjaxLoader.gif" alt="Ожидание">
                            </div>
                        </div>
                        <hr>


                    </div>
                </div>
            </section>
        </div>
    </div>
<hr class="wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
<div class="social-section">
    <ul class="ulSocial">
        <li><a class="btn-floating btn-small btn-fb waves-effect waves-light" href="https://www.facebook.com/moskamerata"><i class="fa fa-facebook"> </i></a></li>
    </ul>
</div>

<div class="footer-copyright">
    <div class="container-fluid">
        © 2016 Московская камерата
    </div>
</div>

</footer>

@Scripts.Render("~/bundles/photoswipemanjs")

<script type="text/javascript">
    var pageNo = 0;
    var isPageLoad = false;

    $(window).scroll(function () {
            if($(window).scrollTop() == $(document).height() - $(window).height())
            {
                if (pageNo > -1 && !isPageLoad) {
                    isPageLoad = true;
                    pageNo++;
                    $.ajax({
                        url: 'Afisha',
                        data: { 'page': pageNo },
                        success: function (data) {
                            if (data != '') {
                                $('#demo-test-gallery').append(data);
                            }
                            else {
                                pageNo = -1;
                            }
                            $("#loadPartPhoto").hide();
                            isPageLoad = false;
                        }
                    });

                }
            }
    });
</script>