
<div class="container-wrap">
    <div class="main-content container-fullwidth">
        <div class="row row-fluid">
            <div class="nocontainer">
                <div class="col-sm-12">
                    <div class="noo-countdown">
                        <ul class="full-background">
                            <li style="background-image: url('images/blog/blog14.jpg')"></li>
                            <li style="background-image: url('images/blog/blog12.jpg')"></li>
                            <li style="background-image: url('images/blog/blog7.jpg')"></li>
                            <li style="background-image: url('images/blog/blog10.jpg')"></li>
                        </ul>
                        <div class="overlay_parallax"></div>
                        <div class="noo-countdown-content">
                            <div class="container">
                                <h2>МОСКОВСКАЯ КАМЕРАТА</h2>
                                <p>камерный оркестр</p>

                                <!--<div id="defaultCountdown"></div>-->
                                <!--<div class="noo-countdown-footer">
                                    <a href="#" data-text="discover now"><span class="navbar-brand-cocacolaMin">MK</span></a>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row parallax row-fluid home-upcoming-event">
            <div class="overlay_parallax"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="noo-shortcode-events">
                            <h2 class="sh-event-title">
                                Предстоящие <span>события</span>
                            </h2>
                            <!-- <p class="sh-ds">
                                New events are coming along with new surprises and scales. Find out your favorite one in the collection and enjoy the moments with us. Bring inspiration for music band and fan isthe key mission.
                            </p>-->
                            <div class="noo-sh-event-content">
                                <div class="noo-sh-list-event">
                                    <span class="entry-date">
                                        21 <span class="month">Мар </span>
                                    </span>
                                    <div class="noo-thumbnail thumb-2"></div>
                                    <div class="noo-shevent-content">
                                        <h4><a href="#">День рождения Иоганна Себастьяна Баха</a></h4>
                                        <div class="sh-meta">
                                            <span class="sh-date">
                                                <i class="fa fa-clock-o"></i>
                                                <span class="date-start dtstart">
                                                    Март 21-19:00
                                                </span>
                                            </span>
                                            <span class="sh-address">
                                                <i class="fa fa-map-marker"></i>
                                                Зеркальный зал, ул. Пушечная 4, стр. 2, Москва
                                            </span>
                                        </div>
                                        <div class="sh-excerpt">
                                            <p>
                                                <ul>
                                                    <li>
                                                        Концерт № 2 для скрипки и струнных ми мажор. BMW 1042
                                                    </li>
                                                    <li>
                                                        Концерт для двух скрипок и струнных ре минор. BMW 1043
                                                    </li>
                                                    <li>
                                                        Концерт для 3-x скрипок и струнных ре мажор. BMW 1064R
                                                    </li>
                                                    <li>
                                                        Концерт № 1 для фортепиано и струнных ре минор. BMW 1052
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="noo-sh-list-event">
                                    <span class="entry-date">
                                        8 <span class="month">Апр </span>
                                    </span>
                                    <div class="noo-thumbnail thumb-1"></div>
                                    <div class="noo-shevent-content">
                                        <h4><a href="#">Времена года</a></h4>
                                        <div class="sh-meta">
                                            <span class="sh-date">
                                                <i class="fa fa-clock-o"></i>
                                                <span class="date-start dtstart">
                                                    Аперль 8-19:00
                                                </span>
                                            </span>
                                            <span class="sh-address">
                                                <i class="fa fa-map-marker"></i>
                                                Усадебный двор, ул. Пречистенка, 12/2, Москва
                                            </span>
                                        </div>
                                        <div class="sh-excerpt">
                                            <p>
                                                <ul>
                                                    <li>
                                                        Вивальди. Времена года четыре концерта для скрипки, струнных и бассо континую, ор. 8
                                                    </li>
                                                    <li>
                                                        Пьяццолла. Времена года в Буэнос-Айресе (обработка для скрипки и камерного оркестра В.Валеева)
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="noo-sh-list-event">
                                    <span class="entry-date">
                                        17 <span class="month">Май </span>
                                    </span>
                                    <div class="noo-thumbnail thumb-3"></div>
                                    <div class="noo-shevent-content">
                                        <h4><a href="#">Легенда о Валентине</a></h4>
                                        <div class="sh-meta">
                                            <span class="sh-date">
                                                <i class="fa fa-clock-o"></i>
                                                <span class="date-start dtstart">
                                                    Май 17-18:30
                                                </span>
                                            </span>
                                            <span class="sh-address">
                                                <i class="fa fa-map-marker"></i>
                                                Филармония, Хабаровский край
                                            </span>
                                        </div>
                                        <div class="sh-excerpt">
                                            <p>
                                                <ul>
                                                    <li>
                                                        Мультимедийный концерт
                                                    </li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="noo-view-event">
                                    <a href="#">Все события</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-fluid home-successful-event">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="noo-shortcode-events grid">
                            <div class="noo-grid-header-events">
                                <span class="icon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <h2 class="sh-event-title">
                                    Релизы
                                </h2>
                                <!--<p class="sh-ds">
                                    Catch up the mosthighlighted moments of our successful events and believe that we can do best thanever.
                                </p>-->
                            </div>
                            <div class="noo-sh-event-content row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="noo-sh-grid-event">
                                        <div class="noo-thumbnail">
                                            <img width="970" height="647" src="images\event\20170114.jpg" alt="20170114">
                                        </div>
                                        <div class="noo-shevent-content">
                                            <h4><a href="#">Вечер памяти</a></h4>
                                            <div class="sh-meta">
                                                <span class="sh-time-event">
                                                    <i class="fa fa-clock-o"></i>
                                                    <span class="date-start dtstart">Январь 14-19:00</span>
                                                </span>
                                                <span class="sh-address">
                                                    <i class="fa  fa-map-marker"></i>
                                                    Зеркальный зал, ул. Пушечная 4, стр. 2, Москва
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="noo-sh-grid-event">
                                        <div id="demo-test-gallery" class="noo-thumbnail demo-gallery container-flex" data-pswp-uid="1">
                                            <a href="images\event\20161224.jpg" data-size="1080x545" data-med="images\event\20161224.jpg" data-med-size="1080x545" class="">
                                                <img width="970" height="750" src="images\event\20161224.jpg" alt="event13">
                                            </a>
                                        </div>
                                        <div class="noo-shevent-content">
                                            <h4><a href="#">Пять великих скрипок</a></h4>
                                            <div class="sh-meta">
                                                <span class="sh-time-event">
                                                    <i class="fa fa-clock-o"></i>
                                                    <span class="date-start dtstart">Декабрь 24, 2016-19:00 </span>
                                                </span>
                                                <span class="sh-address">
                                                    <i class="fa  fa-map-marker"></i>
                                                    Большой зал консерватории, Большая Никитская ул., 13/6, Москва
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="noo-sh-grid-event">
                                        <div class="noo-thumbnail">
                                            <img width="970" height="750" src="images\event\20161126.jpg" alt="event3">
                                        </div>
                                        <div class="noo-shevent-content">
                                            <h4><a href="#">Великие итальянцы</a></h4>
                                            <div class="sh-meta">
                                                <span class="sh-time-event">
                                                    <i class="fa fa-clock-o"></i>
                                                    <span class="date-start dtstart">Ноябрь 26, 2016-19:00 </span>
                                                </span>
                                                <span class="sh-address">
                                                    <i class="fa  fa-map-marker"></i>
                                                    Усадебный двор, ул. Пречистенка, 12/2, Москва
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="noo-sh-grid-event">
                                        <div class="noo-thumbnail">
                                            <img width="970" height="750" src="images\event\20161116.jpg" alt="event7">
                                        </div>
                                        <div class="noo-shevent-content">
                                            <h4><a href="#">«Коган-фестиваль»</a></h4>
                                            <div class="sh-meta">
                                                <span class="sh-time-event">
                                                    <i class="fa fa-clock-o"></i>
                                                    <span class="date-start dtstart">Ноябрь 14-18:30 </span>
                                                    ,
                                                    <span class="date-end dtend">Нобярь 16-19:00 </span>
                                                    ,
                                                    <span class="date-end dtend">Нобярь 19-17:00 </span>
                                                </span>
                                                <span class="sh-address">
                                                    <i class="fa  fa-map-marker"></i>
                                                    ДК «Вымпел», г. Рыбинск
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="noo-sh-grid-event">
                                        <div class="noo-thumbnail">
                                            <img width="970" height="750" src="images\event\20161027.jpg" alt="event5">
                                        </div>
                                        <div class="noo-shevent-content">
                                            <h4><a href="#">Никколо Паганини</a></h4>
                                            <div class="sh-meta">
                                                <span class="sh-time-event">
                                                    <i class="fa fa-clock-o"></i>
                                                    <span class="date-start dtstart">Октябрь 27-19:00 </span>
                                                </span>
                                                <span class="sh-address">
                                                    <i class="fa  fa-map-marker"></i>
                                                    Зеркальный зал, ул. Пушечная 4, стр. 2, Москва
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="noo-sh-grid-event">
                                        <div class="noo-thumbnail">
                                            <img width="970" height="750" src="images\event\20160724.jpg" alt="event10">
                                        </div>
                                        <div class="noo-shevent-content">
                                            <h4><a href="#">«Классика в Кусково»</a></h4>
                                            <div class="sh-meta">
                                                <span class="sh-time-event">
                                                    <i class="fa fa-clock-o"></i>
                                                    <span class="date-start dtstart">Июль 24-18:00</span>
                                                </span>
                                                <span class="sh-address">
                                                    <i class="fa  fa-map-marker"></i>
                                                    Музей-усадьба «Кусково», ул. Юности, 2, Москва
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-fluid home-album">
            <div class="nocontainer">
                <div class="col-sm-12">
                    <div class="wrap">
                        <div class="container">
                            <div class="noo-grid-header-events header-featured-albums">
                                <span class="icon">
                                    <i class="fa fa-file-image-o"></i>
                                </span>
                                <h2 class="sh-event-title">
                                    Аудио
                                </h2>
                                <!--<p class="sh-ds">
                                    Born to make you happy! By searching our latest premium albums, you will have a lot of funs
                                </p>-->
                            </div>
                        </div>
                        <ul class="clearfix noo-featured-albums">
                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="audio\Игорь Фролов и Московская камерата - Каприс в память о Ф.Крейслере.jpg" alt="rock13">
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">Каприс в память о Ф.Крейслере</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">Каприс в память о Ф.Крейслере</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Игорь Фролов и Московская камерата</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Подробнее
                                            </a>
                                            <a href="#" data-songs='[

															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Московская камерата&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;audio\/Игорь Фролов и Московская камерата - Каприс в память о Ф.Крейслере.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;audio\/Игорь Фролов и Московская камерата - Каприс в память о Ф.Крейслере.jpg\&quot; alt=\&quot;rock13\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Игорь Фролов&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Каприс в память о Ф.Крейслере&quot;
															}
															]' class="add-to-playlist-btn button">
                                                <i class="fa fa-plus"></i> В плейлист
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="audio\Моцарт - Дивертисмент фа мажор KV138 I часть.jpg" alt="rock15">
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">Моцарт-Дивертисмент фа мажор KV138 I</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">Моцарт-Дивертисмент фа мажор KV138 I</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Московская камерата</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Подробнее
                                            </a>
                                            <a href="#" data-songs='[
															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;В.А. Моцарт&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;audio\/Моцарт - Дивертисмент фа мажор KV138 I часть.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;audio\/Моцарт - Дивертисмент фа мажор KV138 I часть.jpg\&quot; alt=\&quot;rock15\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Московская камерата&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Дивертисмент фа мажор KV138 I часть&quot;
															}]' class="add-to-playlist-btn button">
                                                <i class="fa fa-plus"></i> В плейлист
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="audio\Моцарт - Концерт № 5 для скрипки с оркестром ля мажор KV219.jpg" alt="rock16">
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">Моцарт - Концерт № 5 ля мажор KV219</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">Моцарт - Концерт № 5 ля мажор KV219</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Г.Ш. Муржа и Московская камерата</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Подробнее
                                            </a>
                                            <a href="#" data-songs='[
															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;В.А. Моцарт&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;audio\/Моцарт - Концерт № 5 для скрипки с оркестром ля мажор KV219.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;audio\/Моцарт - Концерт № 5 для скрипки с оркестром ля мажор KV219.jpg\&quot; alt=\&quot;rock15\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Г.Ш. Муржа и Московская камерата&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Концерт № 5 ля мажор KV219&quot;
															}]' class="add-to-playlist-btn button">
                                                <i class="fa fa-plus"></i> В плейлист
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="audio\И.С.Бах - Концерт для скрипки E-Dur, ч.1 (исп. _Московская камерата_).jpg" alt="rock11">
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">И.С.Бах - Концерт для скрипки E-Dur</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">И.С.Бах - Концерт для скрипки E-Dur</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">И.А. Фролов и Московская камерата</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Подробнее
                                            </a>
                                            <a href="#" data-songs='[
															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;И.С.Бах&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;audio\/И.С.Бах - Концерт для скрипки E-Dur, ч.1 (исп. _Московская камерата_).mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;audio\/И.С.Бах - Концерт для скрипки E-Dur, ч.1 (исп. _Московская камерата_).jpg\&quot; alt=\&quot;rock11\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;И.А. Фролов и Московская камерата&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Концерт для скрипки E-Dur, ч.1&quot;
															},
															{
																&quot;id&quot;:&quot;album_2&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;И.С.Бах&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;audio\/оркестр Московская камерата - Бах,Концерт для скрипки E-Dur,2 Ч..mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;audio\/И.С.Бах - Концерт для скрипки E-Dur, ч.1 (исп. _Московская камерата_).jpg\&quot; alt=\&quot;rock11\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;И.А. Фролов и Московская камерата&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Концерт для скрипки E-Dur, ч.2&quot;
															},
															{
																&quot;id&quot;:&quot;album_3&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;И.С.Бах&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;audio\/оркестр Московская камерата - Бах,Концерт для скрипки E-Dur, 3Ч..mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;audio\/И.С.Бах - Концерт для скрипки E-Dur, ч.1 (исп. _Московская камерата_).jpg\&quot; alt=\&quot;rock11\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;И.А. Фролов и Московская камерата&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Концерт для скрипки E-Dur, ч.3&quot;
															}]' class="add-to-playlist-btn button">
                                                <i class="fa fa-plus"></i> В ПЛЕЙЛИСТ
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="audio\Сергей Борзов (тенор) и к_о _Московская камерата_ - O Sole Mio (03.10.2012, ММДМ).jpg" alt="rock9">
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">O Sole Mio</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">O Sole Mio</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Сергей Борзов и Московская камерата</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Подробнее
                                            </a>
                                            <a href="#" data-songs='[
															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;audio\/Сергей Борзов (тенор) и к_о _Московская камерата_ - O Sole Mio (03.10.2012, ММДМ).mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;audio\/Сергей Борзов (тенор) и к_о _Московская камерата_ - O Sole Mio (03.10.2012, ММДМ).jpg\&quot; alt=\&quot;rock9\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Сергей Борзов и Московская камерата&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;O Sole Mio&quot;
															}]' class="add-to-playlist-btn button">
                                                <i class="fa fa-plus"></i> В плейлист
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="images\album\rock8.jpg" alt="rock8">
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">Center of The Universe</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">Center of The Universe</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Jazz</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Detail
                                            </a>
                                            <a href="#" data-songs='[
															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Maroon 5 ft Wiz Khalifa&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/MorningTea.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock8.jpg\&quot; alt=\&quot;rock8\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Morning Tea&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_2&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Engelbert Humperdinck&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/TimeSpace.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock8.jpg\&quot; alt=\&quot;rock8\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Time Space&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_3&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Modern Talking&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Interlude.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock8.jpg\&quot; alt=\&quot;rock8\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Interlude&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_4&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;The Wanted&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/StraightAhead.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock8.jpg\&quot; alt=\&quot;rock8\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Straight Ahead&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_5&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Helloween&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/MorningPrayer.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock8.jpg\&quot; alt=\&quot;rock8\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Morning Prayer&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_6&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Shane Filan&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/CominDown.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock8.jpg\&quot; alt=\&quot;rock8\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Coming Down&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;

															}]' class="add-to-playlist-btn button">
                                                <i class="fa fa-plus"></i> Add to Playlist
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="images\album\rock7.jpg" alt="rock7">
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">Amsterdam Dance</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">Amsterdam Dance</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Dance</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Detail
                                            </a>
                                            <a href="#" data-songs='[
															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Maroon 5 ft Wiz Khalifa&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/MorningTea.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock7.jpg\&quot; alt=\&quot;rock7\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Morning Tea&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_2&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Engelbert Humperdinck&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/TimeSpace.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock7.jpg\&quot; alt=\&quot;rock7\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Time Space&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_3&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Modern Talking&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Interlude.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock7.jpg\&quot; alt=\&quot;rock7\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Interlude&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_4&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;The Wanted&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/StraightAhead.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock7.jpg\&quot; alt=\&quot;rock7\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Straight Ahead&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_5&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Helloween&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/MorningPrayer.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock7.jpg\&quot; alt=\&quot;rock7\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Morning Prayer&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_6&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Shane Filan&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/CominDown.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock7.jpg\&quot; alt=\&quot;rock7\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Coming Down&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;

															}]' class="add-to-playlist-btn button">
                                                <i class="fa fa-plus"></i> Add to Playlist
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="images\album\rock5.jpg" alt="rock5">
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">Bacardi Original Bar</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">Bacardi Original Bar</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Dance</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Detail
                                            </a>
                                            <a href="#" data-songs='[
															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Maroon 5 ft Wiz Khalifa&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/MorningTea.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock5.jpg\&quot; alt=\&quot;rock5\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Morning Tea&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_2&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Engelbert Humperdinck&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/TimeSpace.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock5.jpg\&quot; alt=\&quot;rock5\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Time Space&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_3&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Modern Talking&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Interlude.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock5.jpg\&quot; alt=\&quot;rock5\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Interlude&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_4&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;The Wanted&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/StraightAhead.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock5.jpg\&quot; alt=\&quot;rock5\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Straight Ahead&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_5&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Helloween&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/MorningPrayer.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock5.jpg\&quot; alt=\&quot;rock5\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Morning Prayer&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_6&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Shane Filan&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/CominDown.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock5.jpg\&quot; alt=\&quot;rock5\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Coming Down&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;

															}]' class="add-to-playlist-btn button">
                                                <i class="fa fa-plus"></i> Add to Playlist
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="images\album\rock4.jpg" alt="rock4">
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">Roseland Ballroom</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">Roseland Ballroom</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Dance</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Detail
                                            </a>
                                            <a href="#" data-songs='[
															{
																&quot;id&quot;:&quot;album_1&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Maroon 5 ft Wiz Khalifa&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/MorningTea.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock4.jpg\&quot; alt=\&quot;rock4\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Morning Tea&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_2&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Engelbert Humperdinck&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/TimeSpace.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock4.jpg\&quot; alt=\&quot;rock4\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Time Space&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_3&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Modern Talking&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/Interlude.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock4.jpg\&quot; alt=\&quot;rock4\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Interlude&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_4&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;The Wanted&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/StraightAhead.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock4.jpg\&quot; alt=\&quot;rock4\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Straight Ahead&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_5&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Helloween&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/MorningPrayer.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock4.jpg\&quot; alt=\&quot;rock4\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Morning Prayer&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;
															},
															{
																&quot;id&quot;:&quot;album_6&quot;,

																&quot;artist&quot;:&quot;&lt;a href=\&quot;javascript:void(0)\&quot;&gt;Shane Filan&lt;\/a&gt;&quot;,

																&quot;file&quot;:&quot;http:\/\/wp.nootheme.com\/wemusic\/wp-content\/uploads\/2015\/06\/CominDown.mp3&quot;,

																&quot;thumb&quot;:&quot;&lt;img width=\&quot;150\&quot; height=\&quot;150\&quot; src=\&quot;images\/album\/rock4.jpg\&quot; alt=\&quot;rock4\&quot; \/&gt;&quot;,

																&quot;name&quot;:&quot;Coming Down&quot;,

																&quot;url&quot;:&quot;#&quot;,

																&quot;album&quot;:&quot;Awesome Bass&quot;

															}]' class="add-to-playlist-btn button">
                                                <i class="fa fa-plus"></i> Add to Playlist
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-fluid home-news">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="noo-grid-header-events header-news">
                            <span class="icon">
                                <i class="fa fa-file-image-o"></i>
                            </span>
                            <h2 class="sh-event-title">Новости</h2>
                        </div>
                        <ul class="noo_news_blog">
                            <li>
                                <div class="noo-sh-thumbail">
                                    <div class="shthumbail">

                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/0cnnOZb3394" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="noo-sh-blog-content">
                                    <h3><a href="#">Антонио Вивальди - Композитор и Священник</a></h3>
                                    <p class="content-meta">
                                        <span>
                                            <i class="fa fa-calendar"></i>
                                            <time class="entry-date" datetime="2015-05-28T06:51:33+00:00">
                                                Январь 1-ое, 2017
                                            </time>
                                        </span>
                                        <!--<span>
                                            <i class="fa fa-comments-o"></i>
                                            <a href="#" class="meta-comments"> 0</a>
                                        </span>
                                        <span><i class="fa fa-eye"></i>365</span>-->
                                    </p>
                                    <p>
                                        В знаменитом цикле концертов "Четыре времени года" Вивальди показал жизнь людей в течение всего года.
                                    </p>
                                    <p>
                                        Автор, ведущий и дирижёр - митрополит Иларион (Алфеев)<br>
                                        Солист - Дмитрий Коган. Оркестр "Московская камерата"
                                    </p>
                                    <a class="read-more" href="#">Подробнее...</a>
                                </div>
                            </li>
                            <li>
                                <div class="noo-sh-thumbail">
                                    <div class="shthumbail">
                                        <img width="600" height="450" src="images\event\20170114.jpg" alt="20170114">
                                    </div>
                                </div>
                                <div class="noo-sh-blog-content">
                                    <h3><a href="#">Вечер памяти Игоря Фролова</a></h3>
                                    <p class="content-meta">
                                        <span>
                                            <i class="fa fa-calendar"></i>
                                            <time class="entry-date" datetime="2015-05-28T06:51:33+00:00">
                                                Январь 14-ое, 2017
                                            </time>
                                        </span>
                                        <!--<span>
                                            <i class="fa fa-comments-o"></i>
                                            <a href="#" class="meta-comments"> 0</a>
                                        </span>
                                        <span><i class="fa fa-eye"></i>259</span>-->
                                    </p>
                                    <p>
                                        К 80-летию со дня рождения Народного артиста России скрипача, композитора и дирижера, профессора Игоря Александровича Фролова.
                                    </p>
                                    <a class="read-more" href="#">Подробнее...</a>
                                </div>
                            </li>
                            <!--<li>
                                <div class="noo-sh-thumbail">
                                    <div class="shthumbail">
                                        <img width="600" height="450" src="images\blog\blog12.jpg" alt="blog12">
                                    </div>
                                </div>
                                <div class="noo-sh-blog-content">
                                    <h3><a href="#">Live on letterman</a></h3>
                                    <p class="content-meta">
                                        <span>
                                            <i class="fa fa-calendar"></i>
                                            <time class="entry-date" datetime="2015-05-28T06:51:33+00:00">
                                                May 28th, 2015
                                            </time>
                                        </span>
                                        <span>
                                            <i class="fa fa-comments-o"></i>
                                            <a href="#" class="meta-comments"> 0</a>
                                        </span>
                                        <span><i class="fa fa-eye"></i>162</span>
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                    </p>
                                    <a class="read-more" href="#">Continue Reading...</a>
                                </div>
                            </li>
                            <li>
                                <div class="noo-sh-thumbail">
                                    <div class="shthumbail">
                                        <img width="600" height="450" src="images\blog\blog10.jpg" alt="blog10">
                                    </div>
                                </div>
                                <div class="noo-sh-blog-content">
                                    <h3><a href="#">2014 Tour Announced</a></h3>
                                    <p class="content-meta">
                                        <span>
                                            <i class="fa fa-calendar"></i>
                                            <time class="entry-date" datetime="2015-05-28T06:51:33+00:00">
                                                May 28th, 2015
                                            </time>
                                        </span>
                                        <span>
                                            <i class="fa fa-comments-o"></i>
                                            <a href="#" class="meta-comments"> 0</a>
                                        </span>
                                        <span><i class="fa fa-eye"></i>144</span>
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                    </p>
                                    <a class="read-more" href="#">Continue Reading...</a>
                                </div>
                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-fluid home-go-top">
            <div class="nocontainer">
                <div class="col-sm-12">
                    <div class="noo-line">
                        <i class="go-to-top fa fa-angle-up"></i>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row row-fluid home-service">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 service-item">
                        <div class="noo-services">
                            <span class="icon">
                                <i class="fa fa-ticket"></i>
                            </span>
                            <h3 class="noo-services-title">
                                Booking Tickets Easily
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 service-item">
                        <div class="noo-services">
                            <span class="icon">
                                <i class="fa fa-music"></i>
                            </span>
                            <h3 class="noo-services-title">
                                Live Music Player
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 service-item">
                        <div class="noo-services">
                            <span class="icon">
                                <i class="fa fa-link"></i>
                            </span>
                            <h3 class="noo-services-title">
                                Quick Connection
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div> 